body{
    width: 300px;
    height: 300px;
    font-family: Arial;
    background-color: black;
    color: whitesmoke;
    margin-top: 100px;    
    margin-left: 500px;
   
}
.head{
    text-align: center;
    font-size: 20px;
}
.safety 
{
	border-right: 5px solid DodgerBlue;    
    border-left: 5PX solid DodgerBlue;
    border-top-style: solid;  
    border-bottom-style: solid;
  	background-color: rgb(70, 66, 66);
	text-align: center;
    border-radius: 20px;
    
}
input[type=submit]
{
    background-color: rgb(126, 160, 232);
    position: relative;    
    font-size: 15px;
    border-color: whitesmoke;
    border-radius: 10px;
    color: whitesmoke;
}